[Unit]
Description=Gunicorn Service for note

[Service]
restart=on-failure
User=hirrao
WorkingDirectory=/home/hirrao/www/notes
ExecStart=./venv/bin/gunicorn --bind unix:/tmp/note.socket notes.wsgi:application

[Install]
WantedBy=multi-user.target
